aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
av
cachetools
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
dataclasses-json
distro
docstring_parser
duckduckgo_search
eval_type_backport
flatbuffers
frozenlist
fuzzywuzzy
google-api-core
google-auth
google-cloud-speech
google-cloud-texttospeech
google-genai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httpx
httpx-sse
humanfriendly
idna
importlib_metadata
jiter
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
Levenshtein
livekit
livekit-agents
livekit-api
livekit-blingfire
livekit-plugins-google
livekit-plugins-noise-cancellation
livekit-plugins-openai
livekit-plugins-silero
livekit-protocol
lxml
marshmallow
mpmath
multidict
mypy_extensions
nest-asyncio
numpy
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
packaging
pillow
primp
prometheus_client
propcache
proto-plus
protobuf
psutil
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
PyJWT
PyMsgBox
pyperclip
pyreadline3
python-dotenv
python-Levenshtein
pywin32
PyYAML
RapidFuzz
requests
requests-toolbelt
rsa
six
sniffio
sounddevice
SQLAlchemy
sympy
tenacity
tqdm
types-protobuf
typing-inspect
typing-inspection
typing_extensions
urllib3
watchfiles
websockets
yarl
zipp
zstandard
livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-deepgram
mcp
python-dotenv
#mcp_client
mem0ai
